<?xml version="1.0" encoding="UTF-8"?>

<!-- MQ基础配置 -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd" >

	<!-- 加载system配置文件 -->
	<util:properties id="system" location="classpath:config/config.properties" />

</beans>